<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h2>ADMIN Dashboard</h2>
    Hello SiRJi! <br><br>
    <button type="button" onclick="location.href='{% url 'logout' %}'" >Logout</button>
    <button type="button" onclick="location.href= '{% url 'book_pending' %}'">Pending Books</button>
    <button type="button" onclick="location.href= '{% url 'book_approved' %}'">Approved Books</button>
    <button type="button" onclick="location.href= '{% url 'book_disapproved' %}'">Rejected Books</button>
    <button type="button" onclick="location.href= '{% url 'book_delete_page' %}'">Deleted Books by user</button>
</body>
</html>