<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pending Books</title>
</head>
<body>
    <button type="button" onclick="location.href='{% url 'logout' %}'" >Logout</button>
<h3> Pending Books</h3>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Download</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {%  for book in books %}
            {% if book.status == 'Pending' %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <a href="{{ book.pdf.url }}" target="_blank">
                        Download PDF
                    </a>
                </td>
                <td>
                    {{ book.status }}
                </td>
                <td>
                        <form method="POST" action="{% url 'approve_book' book.pk %} ">
                            {% csrf_token %}
                            <button type="submit">Approve</button>
                        </form>

                        <form method="POST" action="{% url 'disapprove_book' book.pk %} ">
                            {% csrf_token %}
                            <button type="submit">Disapprove</button>
                        </form>

                </td>

            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

</body>
</html>