<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <button type="button" onclick="location.href='{% url 'logout' %}'" >Logout</button>
<h2>Personal User Dashboard</h2>
    Hello {{ user.first_name }}! <br><br>
<p>

    <a href="{% url 'upload_book' %}">Upload Book</a>
</p>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Download</th>
            <th>Delete</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {%  for book in books %}
            {% if book.username == username %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <a href="{{ book.pdf.url }}" target="_blank">
                        Download PDF
                    </a>
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_book' book.pk %} ">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    {{ book.status }}
                </td>

            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

</body>
</html>