<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <li> Hello, {{ user.first_name }}</li><br><br>
        <button type="button" onclick="location.href='{% url 'logout' %}'" >Logout</button>
        <button type="button" onclick="location.href='{% url 'dashboard' %}'" >Dashboard</button>
    {% else %}
        Welcome<br><br>
        <button type="button" onclick="location.href='{% url 'login' %}'" >Login</button>
        <button type="button" onclick="location.href='{% url 'register' %}'" >Register</button>

    {% endif %}
        <button type="button">Contact us</button>
        <button type="button">About</button>

    <div>
        {% for message in messages %}
        <h3> {{ message }} </h3>
        {% endfor %}
    </div>

</body>
</html>